<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697525752458-76f4a6gjha9pp5vajpknv4nbs83foc61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697525752458-76f4a6gjha9pp5vajpknv4nbs83foc61</string>
	<key>API_KEY</key>
	<string>AIzaSyCdGAMuqdtdWFH7aLhEB9mh2sPip0rltP8</string>
	<key>GCM_SENDER_ID</key>
	<string>697525752458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.excursions.ios</string>
	<key>PROJECT_ID</key>
	<string>excursions-4193e</string>
	<key>STORAGE_BUCKET</key>
	<string>excursions-4193e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697525752458:ios:216d9432a402cd977e1373</string>
</dict>
</plist>